name: Build and Release
on:
  push: 
    tags:
      - 'v*'  # TODO: reconfigure in case of multiple contracts

permissions:
  id-token: write
  contents: write
  attestations: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: rustup update
    - uses: stellar/stellar-cli@v23.1.4
    - run: make -C contracts/sink-carbon/ test

  release-sink-carbon:
    uses: stellar-expert/soroban-build-workflow/.github/workflows/release.yml@2ff8e0a5a122981b534bfc76851d26d74905c1cc
    with:
      release_name: ${{ github.ref_name }}          # use git tag as unique release name
      release_description: "Unaudited SinkContract ${{ github.ref_name }}"
      home_domain: 'stellarcarbon.io'               # home domain for the contract
      relative_path: 'src/sink-carbon'              # relative path to the contract
      package: 'sink-carbon'                        # package name to build
    secrets:
      release_token: ${{ secrets.GITHUB_TOKEN }}
